/*Especificidad: 001*/
h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Especificidad: 001*/
main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 0;
    border: 2px solid #010100;
    margin: auto;
}

/*Especificidad: 001*/
p{
    padding: 5px;
    margin: 0;
    text-align: center;
    border: 1px solid #808080;
}

/*Especificidad: 011*/
p[data-state="empty"]{
    padding: 5px;
    margin: 0;
    text-align: center;
    border: 1px solid #808080;
    background-color: #010100;
}

/*Especificidad: 011*/
p[data-state="clicked"]{
    padding: 5px;
    margin: 0;
    text-align: center;
    border: 1px solid #808080;
    background-color: #D2FBA4;
}

@media screen and (max-width: 900px) {

    /*Especificidad: 011*/
    section[data-type=botonera] {
        display: flex;
        gap: 1em;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    /*Especificidad: 012*/
    section[data-type=botonera] h2 {
        width: 100%;
        text-align: center;
    }
    
    /*Especificidad: 012*/
    section[data-type=botonera] button {
        width: calc(15% - 1em);
        height: 4em;
        text-align: center;
        background-color: #010100;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 900px) {

    /*Especificidad: 011*/
    section[data-type=botonera]{
        display: none;
    }
}