/*
Background layout
#D2FBA4
*/

/*Especificidad: 001*/
header {
    background-color: #D2FBA4;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
}

/*Especificidad: 002*/
nav a {
    text-decoration: none; 
    color: #4F565EFD; 
    font-weight: bold; 
    transition: color 0.3s ease; 
}

/*Especificidad: 012*/
nav a:hover {
    color: #010100; 
}