/*Especificidad: 001*/
main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    border: 2px solid #010100;
    width: 650px;
    height: 525px;
    padding: 5px;
    margin-top: 20px;
}

/*Especificidad: 001*/
section {
    gap: 20px;
    background-size: cover;
    padding: 20px;
}

/*Especificidad: 001*/
img {
    height: auto;
    border-radius: 8px; 
    box-shadow: 0 0 10px #010100; 
}
  